<% content_for(:title, t('.title')) %>
  
<div class="mx-auto flex justify-center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScD4dlQ5v90o9Fku3u0ageX6TCrqjpFnACBIH8Ow4neKMRUjg/viewform?embedded=true" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>